<div class="jumbotron text-center">
	<h1>Registration Page</h1>
	
	<p>{{ message }}</p>
	
	<!-- <div ng-show='user.successMessahe'><div></div> -->
	
    <form data-ng-submit="register()" name="registrationForm">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">firstName</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon"> First Name:</div>
       
     <input type="text" data-ng-model="user.firstName" class="form-control mb-2 mb-sm-0" id="inlineFormInputGroup" placeholder="Jane">
    </div>
    </div>
     <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">lastName</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon"> Last Name:</div>
     <input type="text" data-ng-model="user.lastName" class="form-control mb-2 mb-sm-0" id="inlineFormInputGroup" placeholder="Jane">
    </div>
    </div>
    
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Password</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">Password</div>
        <input type="password" data-ng-model="user.password" class="form-control" id="inlineFormInputGroup" placeholder="password">
      </div>
    </div>
    
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">email</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon"> Email:</div>
        <input type="text" data-ng-model="user.email" class="form-control mb-2 mb-sm-0" id="inlineFormInputGroup" placeholder="email">
      </div>
    </div>
   
   <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Status</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon"> Status:</div>
        <input type="text" data-ng-model="user.Status" class="form-control mb-2 mb-sm-0" id="inlineFormInputGroup" placeholder="Status">
      </div>
    </div>
   
    
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput"> contactNumber</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">  contactNumber:</div>
     <input type="text" data-ng-model="user.contactNumber" class="form-control mb-2 mb-sm-0" id="inlineFormInputGroup" placeholder=" contactNumber">
    </div>
    </div>
    
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">address</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">Address</div>
        <input type="text" data-ng-model="user.address" class="form-control" id="inlineFormInputGroup" placeholder="address">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">dob</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">dob</div>
        <input type="text" data-ng-model="user.dob" class="form-control" id="inlineFormInputGroup" placeholder="email">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">role</label>
      <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">role</div>
        <input type="text" data-ng-model="user.role" class="form-control" id="inlineFormInputGroup" placeholder="role">
      </div>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>